@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito:wght@400;700&display=swap');

/* Global CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


h1 {
  display: block;
  font-size: 4.8rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-left: 11rem;
  margin-top: 10rem;

}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-top: 10rem;

}

h3 {
  text-align: center;
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-top: 20rem;

}


h4 {
  text-align: left;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  padding-top: 2rem;
  margin-left: 4.5rem;

}

h5 {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #1B4049;
  margin-left: 4.5rem;
  padding-top: 6rem;

}


p {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 2.6rem;
  color: #343434;
  margin-left: 11rem;
  margin-top: 4.8rem;
  line-height: 4.8rem;

}


.container {
  display: grid;
}


.logo {
  margin-right: auto;
}



/* Hero Section */

.hero-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero-grid figure {
  margin: 0;
}

#profile {
  margin: 0;
}

#profile img {
  width: 100%;
  height: auto;
}



/* Nav Section */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 10%;
}


li, a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1B4049;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0rem 2rem;
}


.nav__links li a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1B4049;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F1A5AA;
}



.mobile-hero {
  margin: 0 auto;
  width: 90%;
}

.menu {
    display: none;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}


button {
    margin-left: 2rem;
    padding: 0.9rem 2.5rem;
    background-color: #FFFFFF;
    color: #1B4049;
    border: 0.2rem solid #1B4049;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1B4049;
    color: #ffffff;
}


/* Selected Work Section */

.down-arrow {
  margin: auto;
  padding-top: 1rem;

}


.seclected-work {
  margin: auto;

}


/* Canopy Section */

.canopy-grid {
  margin-top: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: stretch;
}

.canopy-grid > article img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.canopy-grid > article {
  display: flex;
}

.canopy-text {
  border: 2px solid rgba(27, 64, 73, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  padding-right: 3rem;

}

.canopy-bullet > li, a {
  display: inline-block;
  margin-top: 1.3rem;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  padding-left: 0.5rem;
  color: #1B4049;

}

.canopy-bullet {
  margin-left: 3.9rem;
}


.view-canopy > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 4.5rem;
  text-align: center;
  color: #1B4049;
}


#canopy-desc {
  margin-top: 4rem;
  margin-left: 4.5rem;
  font-family: "Nunito",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  color: #1B4049;


}

#square-bullet {
  margin-bottom: 0.3rem;
}


/* About Me */
.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem;

}

#about-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-left: 4.5rem;
  margin-top: 1.5rem;

/* or 187% */

  color: #343434;
}

/* Footer Section */

.socials > li, a {
  display: inline-block;
}

footer ul {
  margin-top: 5.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

#social_icons {
  padding-left: 2rem;
  padding-right: 2rem;
}

#copyright {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  text-align: center;
  color: #343434;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;

}


/* Media Queries */

@media only screen and (max-width: 1200px) {
    .nav__links, .cta {
        display: none;
    }
    .menu {
        display: inherit;
    }

    .hero-grid {
      display: block;
    }

    #profile img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
    }

    p {
      display: block;
      font-family: "Nunito", sans-serif;
      font-size: 2.6rem;
      color: #343434;
      margin-left: 11rem;
      margin-right: 3rem;
      margin-top: 4.8rem;
      line-height: 4.8rem;

    }

    .canopy-grid {
      display: block;
    }

    #canopy-cs-pic {
    margin-bottom: 1rem;
    }

}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 2rem;
    }
    .overlay .close {
        font-size: 4rem;
        top: 15px;
        right: 35px
    }
}



/* Mobile Nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #F1A5AA;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 2.6rem;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 6rem;
}
