@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@500&display=swap');

/* Global CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


h1 {
  display: block;
  font-size: 4.8rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-top: 10rem;

}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-top: 10rem;

}

h3 {
  text-align: center;
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  margin-top: 20rem;

}


h4 {
  text-align: left;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #1B4049;
  font-style: normal;
  font-weight: bold;
  padding-top: 2rem;

}

h5 {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 50px;
  color: #1B4049;
  padding-top: 6rem;

}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-decoration-line: underline;
  color: #525151;
  opacity: 0.99;
}


p {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 2.6rem;
  color: #343434;
  margin-top: 4.8rem;
  line-height: 4.8rem;

}


.container {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
}


.logo {
  margin-right: auto;
}

#logo-home {
  margin-right: auto;
}



/* Hero Section */

.hero-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-grid > article {
  padding-left: 11rem;

}

#hero-grid figure {
  margin: 0;
}

#profile {
  margin: 0;
}

#profile img {
  width: 100%;
  height: auto;
}



/* Nav Section */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 10%;
}


/* li, a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1B4049;
    text-decoration: none;
} */

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0rem 2rem;
}


.nav__links li a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1B4049;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #F1A5AA;
}



.mobile-hero {
  margin: 0 auto;
  width: 90%;
}

.menu {
    display: none;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}


button {
    margin-left: 2rem;
    padding: 0.9rem 2.5rem;
    background-color: #FFFFFF;
    color: #1B4049;
    border: 0.2rem solid #1B4049;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1B4049;
    color: #ffffff;
}


/* Selected Work Section */

.down-arrow {
  margin: auto;
  padding-top: 1rem;

}


.seclected-work {
  margin: auto;

}

#selected-work {

}


/* Canopy Section */

.canopy-grid {
  margin-top: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: stretch;
}

.canopy-grid > article img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.canopy-img {
  background-color: #FCE2C1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.canopy-grid > article {
  display: flex;
}

.canopy-text {
  border: 2px solid rgba(27, 64, 73, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  padding-right: 3rem;

}

.canopy-bullet > li, a {
  display: inline-block;
  margin-top: 1.3rem;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  padding-left: 0.5rem;
  color: #1B4049;
  text-decoration: none;

}

.canopy-bullet {
  margin-left: 3.9rem;
}


.view-canopy > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 4.5rem;
  text-align: center;
  color: #1B4049;
}

.view-canopy > button:hover {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 4.5rem;
  text-align: center;
  color: #FFFFFF;
}


#canopy-desc {
  margin-top: 4rem;
  margin-left: 4.5rem;
  font-family: "Nunito",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  color: #1B4049;


}

#canopy-cs-pic {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#square-bullet {
  margin-bottom: 0.3rem;

}

.canopy-title > h4 {
  margin-left: 4.5rem;
  margin-top: 8rem;
}

/* BusyBus */

.busybus-grid {
  margin-top: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: stretch;
}

.busybus-grid > article img {
  max-width: 300px;
  max-height: 700px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.busybus-img {
  background-color: #FDD5D5;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;

}

.busybus-grid > article {
  display: flex;
}

.busybus-text {
  border: 2px solid rgba(27, 64, 73, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  padding-right: 3rem;

}

.busybus-bullet > li, a {
  display: inline-block;
  margin-top: 1.3rem;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  padding-left: 0.5rem;
  color: #1B4049;

}

.busybus-bullet {
  margin-left: 3.9rem;
}


.view-busybus > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 4.5rem;
  text-align: center;
  color: #1B4049;
}


#busybus-desc {
  margin-top: 4rem;
  margin-left: 4.5rem;
  font-family: "Nunito",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  color: #1B4049;


}

#busybus-cs-pic {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

}

#square-bullet-busy {
  margin-bottom: 0.3rem;

}

.busybus-title > h4 {
  margin-left: 4.5rem;
}


/* About Me */
.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem;

}

#about-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-top: 1.5rem;

/* or 187% */

  color: #343434;
}

#child-drawing {
  margin-left: 15rem;
  margin-top: 5rem;
}

/* Contact Form */

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  font-size: 1.6rem;
  border: 1.5px solid #343434;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 3rem;
  resize: vertical;
}

.contact {
  margin-top: 3rem;
  margin-left: 20rem;
  margin-right: 20rem;

}

.contact-desc {
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  line-height: 27px;
  color: #1B4049;


}

#contact-text{
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  background-color: #FFFFFF;
  color: #1B4049;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 12px 40px;
  border: 2px solid #1B4049;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1B4049;
  color: white;
}


/* Footer Section */

.socials > li, a {
  display: inline-block;
}

footer ul {
  margin-top: 5.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

#social_icons {
  padding-left: 2rem;
  padding-right: 2rem;
}

#copyright {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  text-align: center;
  color: #343434;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;

}

/* -------------------------CANOPY CASE STUDY CSS ----------------------------*/

.user-graph-1 {

  width: 50%;
}



.user-graph-2 {

  width: 50%;
}


.canopy-header {
  margin: auto;

}

#canopylogo > img {
  max-width: 100%;
  height: auto;
}

.canopy-title {
  margin-top: -8rem;
  margin-left: auto;
  margin-right: auto;
}

.canopy-description {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
}

.canopy-buttons {

  margin-left: auto;
  margin-right: auto;
}


.view-desktop > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #1B4049;
}

.view-desktop > button:hover {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.view-mobile > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #1B4049;
}

.view-mobile > button:hover {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.canopy-pics {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: stretch;
}

.canopy-pics > article img {
  width: 100%;
  height: auto;
  object-fit: contain;

}

.canopy-desktop-img {
  background-color: #FCE2C1;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 8;
  align-items: center;
}

.canopy-pics > article {
  display: flex;
}

#canopy-desk-pic {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.canopy-mobile-img {
  background-color: #FDD5D5;
  border-radius: 5px;
  grid-column-start: 8;
  grid-column-end: 12;
  align-items: center;
}


#canopy-mobile-pic {
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.canopy-overview {

  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 7rem;
  padding-right: 7rem;
  align-items: stretch;
  text-align: center;

}


.canopy-design-roles > ul {
  margin-top: 3rem;
  list-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.7rem;
  text-align: center;
  color: #343434;
}

.canopy-deliverables > ul {
  margin-top: 3rem;
  list-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.7rem;
  text-align: center;
  color: #343434;
}

.canopy-specifications > ul {
  margin-top: 3rem;
  list-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.7rem;
  text-align: center;
  color: #343434;
}

.canopy-problem-solution {
  margin-top: 15rem;
}

.canopy-problem-solution > article > h4 {
  margin-left: 40rem;
}

#canopy-body-text-2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.0rem;
  line-height: 3.2rem;
  margin-top: 5rem;
  margin-right: 40rem;
  margin-left: 40rem;
  margin-bottom: 5rem;
}

#canopy-body-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.0rem;
  line-height: 3.2rem;
  margin-top: 5rem;
  margin-right: 40rem;
  margin-left: 40rem;
  margin-bottom: 5rem;
}

.canopy-design-roles > h4 {
  text-align: center;
}

.canopy-deliverables > h4 {
  text-align: center;
}

.canopy-specifications > h4 {
  text-align: center;
}

.canopy-design-process {

  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  align-items: stretch;
  text-align: center;
  height: 10rem;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);
}

.canopy-design-process-title > h4 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  text-align: center;
}

.canopy-design-steps {

  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  justify-content: center;
  text-align: center;
  height: 40rem;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);
}

#canopy-design-step-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  align-items: center;
  color: #525151;
  opacity: 0.99;
}

.canopy-research > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}

.canopy-strategy > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}

.canopy-info-arch > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}

.canopy-branding > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}

.canopy-visual > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}

.canopy-conclusion > ul {

  margin-top: 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: #343434;

}


.canopy-strategy {
  align-self: flex-end;
  padding-bottom: 5rem;
}

.canopy-branding {
  align-self: flex-end;
  padding-bottom: 5rem;
}

.canopy-conclusion {
  align-self: flex-end;
  padding-bottom: 5rem;
}

.canopy-vert-line-1 {
  margin-top: 6rem;
  margin-left: -56rem;
  border: 1px solid #1B4049;
  height: 14rem;
  position: absolute;
}

.canopy-research-1 > h2, h6 {
  text-align: left;
  margin-left: 40rem;
}

.canopy-research-1 > h6 {
  margin-top: 5rem;
}

.canopy-competition-pic {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.check-mark > img {
  margin-left: -20rem;
  margin-top: 3rem;

}

.x-mark > img {
  margin-left: -20rem;
  margin-top: 3rem;
}

.google > ul {

  margin-top: -3rem;
  margin-left: 8rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: left;
  color: #343434;

}

.dropbox > ul {

  margin-top: -3rem;
  margin-left: 8rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: left;
  color: #343434;

}

.box > ul {

  margin-top: -3rem;
  margin-left: 8rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style: none;
  text-align: left;
  color: #343434;

}

.google > h5 {
  margin-bottom: 2rem;
}

.dropbox > h5 {
  margin-bottom: 2rem;
}

.box > h5 {
  margin-bottom: 2rem;
}

#box-pic {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.click-through-button > button {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #1B4049;
}

.click-through-button > button:hover {
  border: 2px solid #1B4049;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.results-button {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.user-survey > h6 {
  margin-top: 10rem;
}

.user-stats {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.user-stats > article {
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
}

.user-stats > article > h2 {
  text-align: center;
}

.user-stats > article > p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-top: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

/* or 125% */

color: #212121;

}


.cloud-uses-pics {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.cloud-uses-pics > article > img {
  align-items: center;
}

.cloud-uses-title {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.cloud-uses-title > h4 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  text-align: center;
}

.cloud-uses-pics > article > p {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1B4049;
  opacity: 0.99;
}

.client-features {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.client-features > article > ul {

  margin-top: 3rem;
  margin-left: 8rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: left;
  color: #343434;

}

.canopy-text-block {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.client-features-conclusion {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.client-features-conclusion > p {

  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #1B4049;
  opacity: 0.99;

}

.canopy-strategy-2 > h2, h6 {
  text-align: left;
  margin-left: 40rem;
}

.canopy-strategy-2 > h6 {
  margin-top: 5rem;
}

.user-personas {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
}

.user-personas > article {
  margin-left: auto;
  margin-right: auto;
}

.user-personas > article > p {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #343434;
  text-align: left;
  padding-left: 4rem;

}

#user1 {
  padding-top: 2rem;
}

.user-needs > p {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #343434;
  opacity: 0.99;
  text-align: left;
  padding-left: 4rem;
  padding-top: 6rem;

}

.user-needs > ul {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: #343434;
  text-align: left;
  padding-left: 4rem;
  padding-top: 2rem;

}

.canopy-user-stories {
  padding-top: 4rem;
}

.new-user-task {

  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.new-user-task > ul {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #343434;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-top: 2rem;

}

.canopy-infoarch-3 > h2, h6 {
  text-align: left;
  margin-left: 40rem;
}

.canopy-infoarch-3 > h6 {
  margin-top: 5rem;
}

.canopy-flow-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.canopy-sitemap > h6 {
  margin-top: 5rem;
}

.canopy-sitemap-img {
  margin-left: auto;
  margin-right: auto;
}

.canopy-sketches {
  margin-top: 5rem;
}

.canopy-sketch-screens {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-sketch-screens > article > img {
  max-height: 423px;
  max-width: 628px;
}

.canopy-wire-pics {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-wire-pics > article > img {
  max-height: 284px;
  max-width: 363px;
}

.canopy-wireframes {
  margin-top: 5rem;
}

.canopy-big-wireframe {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-big-wireframe > article > img {
  max-height: 430px;
  max-width: 550px;
}

.user-test-round1 {
  margin-top: 5rem;
}

#canopy-user-test-title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 3rem;
  color: #1B4049;
  opacity: 0.99;
  margin-top: 5rem;
  margin-right: 30rem;
  margin-left: 40rem;
}

.canopy-test-round1-pic-a {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-test-round1-pic-a article > img {
  max-width: 550px;
  max-height: 445px;

}

.canopy-test-round1-pic-b {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-test-round1-pic-b article > img {
  max-width: 235px;
  max-height: 350px;

}

#canopy-before-after {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 3rem;
  color: #1B4049;
  opacity: 0.99;
  text-align: center;
  margin-bottom: 1rem;

}

.canopy-branding-4 > h2, h6 {
  text-align: left;
  margin-left: 40rem;
}


.canopy-branding-4 > h6 {
  margin-top: 5rem;
}

.canopy-principles {

  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.canopy-user-stories {
  padding-top: 4rem;
}

.canopy-colors {
  padding-top: 7rem;
}

.canopy-brand-palette {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

#canopy-color-text {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  color: #343434;
  margin-top: 4.8rem;
  line-height: 3.2rem;

}

.canopy-brand-text {
  margin-left: auto;
  margin-bottom: 8rem;
  margin-right: auto;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

#canopy-heading-text-rubik {
font-family: "Rubik";
font-style: normal;
font-weight: 500;
text-align: left;
padding-left: 13rem;
padding-right: 13rem;
font-size: 32px;
line-height: 44px;
color: #353636;

}

#canopy-body-text-karla {

  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-left: 13rem;
  padding-right: 13rem;
  color: #000000;

}

.canopy-logo-sketch {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-logo-sketch > article > img {
  max-width: 500px;
  max-height: 382px;
}

.canopy-final-logo {
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  margin-right: auto;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 9rem;
  align-items: stretch;
  text-align: center;
  width: 100%;
  background:rgba(27, 64, 73, 0.1);

}

.canopy-final-logo > article > img {
  max-width: 353px;
  max-height: 84px;

}

.canopy-design-5 > h2, h6 {
  text-align: left;
  margin-left: 40rem;
}


.canopy-design-5 > h6 {
  margin-top: 5rem;
}

.canopy-visual-design-screens {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.canopy-visual-design-screens > article > img {
  max-width: 852px;
  max-height: 697px;

}



/* ---------------------------- Media Queries ---------------------------- */

@media only screen and (max-width: 1200px) {

    .nav__links, .cta {
        display: none;
    }
    .menu {
        display: inherit;
    }

    .hero-grid {
      display: block;
    }

    .aboutme-grid {
      display: block;
      margin-left: 10rem;
      margin-right: 10rem;

    }
    #profile img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
    }

    p {
      display: block;
      font-family: "Nunito", sans-serif;
      font-size: 2.6rem;
      color: #343434;
      margin-right: 11rem;
      margin-top: 4.8rem;
      line-height: 4.8rem;

    }

    .canopy-grid {
      display: block;
    }

    #canopy-cs-pic {
    padding-top: 8rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    }

    .canopy-img {
      margin-bottom: 1rem;
    }

    .busybus-grid {
      display: block;
    }

    #busybus-cs-pic {
      padding-top: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;

    }

    .busybus-img {
      margin-bottom: 1rem;
    }

    #contact-text{
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 2rem;
    }

    .contact {
      margin-top: 3rem;
      margin-left: 10rem;
      margin-right: 10rem;

    }

}

@media only screen and (max-width: 800px) {

  .canopy-bullet {
    display: none;
  }

  h1 {
    display: block;
    font-size: 4.8rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 11rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2.8rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;


  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 2.6rem;
    color: #343434;
    margin-right: 11rem;
    margin-top: 4.8rem;
    line-height: 4.8rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  .aboutme-grid {
    display: block;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 10rem;

  }

  #contact-text{
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 2rem;
    text-align: center;
  }

  .contact {
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;

  }


}

@media only screen and (max-width: 650px) {

  .logo {
    margin-right: auto;
    padding-left: 2.5rem;
  }

  .menu {
    padding-right: 2.5rem;
  }


  .canopy-bullet {
    display: none;
  }


  h1 {
    display: block;
    font-size: 3.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 8rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;

  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    color: #343434;
    margin-right: 8rem;
    margin-top: 4.8rem;
    line-height: 4.8rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  .aboutme-grid {
    display: block;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 10rem;

  }

  #child-drawing {
    display: none;

  }


    #contact-text{
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 1.6rem;
      text-align: center;
    }


}

@media only screen and (max-width: 500px) {

  .logo {
    margin-right: auto;
  }

  header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 3rem 2%;
  }

  .menu {
    margin-left: auto;
  }


  .canopy-bullet {
    display: none;
  }


  h1 {
    display: block;
    font-size: 3.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 3rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;

  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    color: #343434;
    margin-right: 3rem;
    margin-top: 4.8rem;
    line-height: 4rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  .aboutme-grid {
    display: block;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;

  }

  .hero-grid > article {
    padding-left: 2rem;

  }


}

@media only screen and (max-width: 400px) {

  .logo {
    margin-right: auto;
  }

  header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 3rem 2%;
  }

  .menu {
    margin-left: auto;
  }


  .canopy-bullet {
    display: none;
  }


  h1 {
    display: block;
    font-size: 2.8rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;

  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    color: #343434;
    margin-right: 2rem;
    margin-top: 4.8rem;
    line-height: 4rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  #social_icons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-grid > article {
    padding-left: 2rem;

  }


}

@media only screen and (max-width: 380px) {

  .logo {
    margin-right: auto;
  }

  header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 3rem 2%;
  }

  .menu {
    margin-left: auto;
  }


  .canopy-bullet {
    display: none;
  }


  h1 {
    display: block;
    font-size: 2.8rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;

  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    color: #343434;
    margin-right: 2rem;
    margin-top: 4.8rem;
    line-height: 4rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  #social_icons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-grid > article {
    padding-left: 2rem;

  }


}

@media only screen and (max-width: 335px) {

  .logo {
    margin-right: auto;
  }

  header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 3rem 2%;
  }

  .menu {
    margin-left: auto;
  }


  .canopy-bullet {
    display: none;
  }


  h1 {
    display: block;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-right: 1.5rem;
    margin-top: 10rem;

  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 10rem;

  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    margin-top: 20rem;

  }


  h4 {
    text-align: left;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    color: #1B4049;
    font-style: normal;
    font-weight: bold;
    padding-top: 3rem;

  }

  p {
    display: block;
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    color: #343434;
    margin-right: 1.5rem;
    margin-top: 4.8rem;
    line-height: 4rem;

  }

  .canopy-grid {
    margin-top: 7rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #canopy-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  .busybus-bullet {
    margin-left: 3.9rem;
    display: none;
  }

  .busybus-grid {
    margin-top: 7rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  #busybus-desc {
    margin-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    font-family: "Nunito",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 30px;
    color: #1B4049;

  }

  #copyright {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

  }

  #social_icons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #contact-text{
    display: none;
  }

  .contact {
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;

  }

  .hero-grid > article {
    padding-left: 2rem;

  }

}



@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 2rem;
    }
    .overlay .close {
        font-size: 4rem;
        top: 15px;
        right: 35px
    }
}



/* Mobile Nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #F1A5AA;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 2.6rem;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 6rem;
}
